.outer{
	border-style: solid;
	border-width: 1;
	border-colour: black;
	
	width: 500;
	heigh: 250;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	padding: 15;
}

.leftside{
	float: left;
	border-style: dotted;
	border-width: 1;
	border-colour: black;
	height: 200;
	width: 200;
}

.rightside{
	float: right;
}

.row{
	justify-content: center;
	display: flex;
	flex-direction: row;
	padding-top: 5;
}

body{
	font-family: Calibri;
	font-side:18
}

.expand{
	flex-grow: 1;
}

.spacer{
	width: 0.5rem;
}

.vspacer{
	height: 1rem;
}